@import 'variables';

.description {
  padding: 2rem;
  .row {
    display: flex;
    justify-content: space-between;
    .column-left {
      width: 100%;
      img.item-picture {
        width: 680px;
      }
      h4 {
        font-size: 1.75rem;
        font-weight: normal;
      }
      p {
        font-size: 1rem;
        color: $color-silver;
        text-align: justify;
      }
    }
    .column-right {
      width: 40%;
      h1 {font-size: 1.5rem;}
      h2 {
        font-size: 2.875rem;
        font-weight: normal;
        display: inline-block;
        sup {
          padding-left: 0.5rem;
        }
      }
      small {
        display: block;
        font-size: 0.875rem;
        color: $color-gray;
        padding-bottom: 1rem;
      }
      img.shipping-icon {
        margin-left: 1rem;
      }
    }
    .item-picture, h1, h2, h4 {
      padding-bottom: 2rem;
    }
    h1, h2, h3, h4 {
      color: $color-dark-gray;
    }
  }
}


/* Responsive layout */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
    align-items: center;
    img.item-picture {
      width: 100% !important;
    }
    .column-right {
      width: 100% !important;
      padding-bottom: 2rem;
      h2 {font-size: 1.5rem !important;}
      img.shipping-icon {margin-left: 0.25rem !important;}
    }
  }
}