@import 'variables';

.not-found {
  margin: 120px auto;
  position: relative;
  text-align: center;
  h1 {
    color: $color-blue;
    font-size: 120px;
  }
  h2 {
    color: $color-dark-gray;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  p, a {
    font-size: 1.5rem;
  }
}
